<footer class="footer">
	<small>
		<a href="http://ituits.heroku.com">iTuits</a> por JCSR
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca De", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
			<li><%= link_to "Noticias", '#' %></li>
		</ul>
	</nav>
</footer>